<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooperativa</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1 class="logo">RedeEcoLoop</h1>
            </div>
            <div class="nav-menu">
                <ul class="nav-menu">
                    <li><a href="./index.html">Sobre</a></li>
                    <li><a href="./solucao.html">Solução</a></li>
                    <li><a href="./cooperativas.html">Cooperativa</a></li>
                    <li><a href="./parceiros.html">Parceiros</a></li>
                    <li><a href="./relatorio.html">Relatório</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section id="mei-nas-cooperativas">
            <h2>Importância do MEI nas Cooperativas</h2>
            <p>O MEI desempenha um papel crucial nas cooperativas de catadores de reciclagem, fornecendo:</p>
            <ul>
                <li>Legalização das atividades da cooperativa</li>
                <li>Acesso a benefícios previdenciários para os membros</li>
                <li>Facilidade na emissão de notas fiscais</li>
                <li>Possibilidade de participação em programas de incentivo governamentais</li>
            </ul>
        </section>

        <section id="impacto-social">
            <h2>Impacto das Cooperativas na Sociedade</h2>
            <p>As cooperativas de catadores de reciclagem geram um impacto significativo na sociedade, incluindo:</p>
            <ul>
                <li>Redução do volume de resíduos enviados para aterros sanitários</li>
                <li>Criação de empregos e geração de renda para comunidades carentes</li>
                <li>Promoção da conscientização ambiental e práticas sustentáveis</li>
                <li>Contribuição para a economia circular e desenvolvimento sustentável</li>
            </ul>
        </section>

        <section id="consultoria">
            <h2>Consultoria para Abrir ou Legalizar uma Cooperativa</h2>
            <p>A RedeEcoLoop oferece consultoria especializada para ajudar na abertura ou legalização de cooperativas de catadores de reciclagem. Entre em contato conosco para obter orientação personalizada e suporte durante todo o processo.</p>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 RedeEcoLoop. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>

</html>
