<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet">
    <script src="/scripts/teste.js"></script>
    <title>RedeEcoLoop</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="#" class="logo-link">RedeEcoLoop</a>
        </div>
        <nav class="nav-bar">
            <ul class="nav-menu">
                <li><a href="./index.html">Sobre</a></li>
                <li><a href="./solucao.html">Solução</a></li>
                <li><a href="./cooperativas.html">Cooperativa</a></li>
                <li><a href="./parceiros.html">Parceiros</a></li>
                <li><a href="./relatorio.html">Relatório</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <aside>
            <ul>
                <li><a href="#" onclick="TrocaTitulo('redeecoloop')">RedeEcoLoop</a></li>
                <li><a href="#" onclick="TrocaTitulo('objetivo')">Objetivo da empresa</a></li>
                <li><a href="#" onclick="TrocaTitulo('parceria')">A importancia de Parcerias</a></li>
            </ul>
        </aside>

        <div class="container">
            <section class="titulos-interrativos">
                <h1 id="titulo"> RedeEcoLoop</h1>
            </section>

            <section class="redeecoloop">
                <div class="cont-1">
                    <h2>Transformando Vidas, Preservando o Planeta: A Jornada da RedeEcoLoop</h2>
                    <video controls width="640" height="360">
                        <source
                            src="/img/RECICLAR _ CORES DAS LIXEIRAS _ MEIO AMBIENTE _ ENSINO FUNDAMENTAL _ EDUCAÇÃO INFANTIL (2).mp4"
                            type="video/mp4">
                        Seu navegador não suporta a tag de vídeo.
                    </video>

                    <p>
                        Em um mundo cada vez mais consciente da necessidade de preservação ambiental e inclusão social,
                        <br>
                        A RedeEcoLoop surge como uma luz no fim do túnel. Fundada por um grupo de visionários <br>
                        comprometidos com a sustentabilidade e justiça social, esta empresa inovadora tem como missão
                        transformar vidas br
                        enquanto
                        preserva o planeta.
                    </p>
                </div>
                <div class="cont-2">
                    h2>Preservação Ambiental e Inclusão Social</h2>
                    <br>
                    <img src="/img/inicio-img-1.png" alt="img-1">
                    <p>
                        Em uma grande cidade, onde arranha-céus se erguem ao lado de montanhas de lixo, conhecemos João,
                        um
                        catador de reciclagem dedicado e apaixonado pelo meio ambiente. Todos os dias, João e seus
                        colegas
                        lutam contra a dura realidade das ruas, coletando materiais recicláveis para ganhar o sustento.
                    </p>
                    <br>
                    <img src="/img/inicio-img-2.png" alt="img-2">
                    <p>
                        No entanto, apesar de seu trabalho árduo e essencial para a preservação do meio ambiente, João e
                        os
                        catadores enfrentam desafios significativos. Sem proteção social, eles sofrem com a falta de
                        segurança no trabalho, remuneração injusta e ausência de benefícios.
                    </p>
                    <br>
                    <p>
                        É neste momento de luta e desespero que a RedeEcoLoop entra em cena. Inspirada pela visão de
                        criar
                        um mundo onde a sustentabilidade e a justiça social caminham de mãos dadas, a empresa lança uma
                        iniciativa revolucionária: incentivar os catadores de reciclagem a se tornarem
                        Microempreendedores
                        Individuais (MEI).
                    </p>
                    <br>
                </div>
                <div class="cont-3">
                    <h2>A importancia de Parcerias</h2>
                    <br>
                    <img src="/img/inicio-img-3.png" alt="img-3">
                    <p>
                        Com o apoio da RedeEcoLoop, João e seus colegas aprendem sobre os benefícios de se tornarem
                        MEIs.
                        Eles descobrem como registrar seus negócios, obter acesso a benefícios previdenciários, e como
                        garantir direitos trabalhistas fundamentais. Além disso, a empresa oferece treinamento em gestão
                        financeira e empreendedorismo, capacitando os catadores a administrar seus negócios de forma
                        eficiente e sustentável.
                    </p>
                    <h3>Parcerias com Grandes Empresas</h3>
                    <br>
                    <img src="/img/inicio-img-4.png" alt="img-4">
                    <p>
                        Enquanto isso, a RedeEcoLoop não se limita a ajudar apenas os catadores. Ela também busca
                        parcerias
                        com grandes empresas comprometidas com a responsabilidade socioambiental. Convencidas dos
                        benefícios
                        de apoiar os MEIs, essas empresas passam a direcionar parte de seus recursos para a compra de
                        materiais recicláveis coletados pelos catadores associados à RedeEcoLoop
                    </p>
                    <br>
                    <p>
                        Com o tempo, o esforço conjunto da RedeEcoLoop, dos catadores de reciclagem e das grandes
                        empresas
                        começa a dar frutos. João e seus colegas veem suas vidas transformadas, agora com segurança no
                        trabalho, renda mais estável e acesso a benefícios previdenciários. As grandes empresas, por sua
                        vez, desfrutam de uma cadeia de suprimentos mais sustentável e responsável, além de fortalecerem
                        suas reputações como agentes de mudança positiva na sociedade.
                    </p>
                </div>
                <div class="cont-4">
                    <h2>Transformação Socioambiental</h2>
                    <p>A RedeEcoLoop forma parcerias com grandes empresas comprometidas com a responsabilidade
                        socioambiental.</p>
                    <img src="" alt="logo-empresas-parceira1">
                    <img src="" alt="logo-empresas-parceira2">
                    <img src="" alt="logo-empresas-parceira3">
                    <img src="" alt="logo-empresas-parceira4">
                </div>
        </div>
        <div class="cont"></div>
        </section>
        <section class="destaque">
            <h2>Destaques</h2>
            <p></p>
            <a href="#" class="btn">Saiba Mais</a>
        </section>
        <footer class="foote">
            <p>&copy; 2024 RedeEcoLoop. Todos os direitos reservados.</p>
        </footer>
        </div>
        </section>
    </main>
</body>

</html>