<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parceiros</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1 class="logo">RedeEcoLoop</h1>
            </div>
            <div class="nav-menu">
                <ul class="nav-menu">
                    <li><a href="./index.html">Sobre</a></li>
                    <li><a href="./solucao.html">Solução</a></li>
                    <li><a href="./cooperativas.html">Cooperativa</a></li>
                    <li><a href="./parceiros.html">Parceiros</a></li>
                    <li><a href="./relatorio.html">Relatório</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section id="partners">
            <div class="container">
                <h2>Parceiros da RedeEcoLoop</h2>
                <div class="partner-list">
                    <div class="partner-card">
                        <img src="partner1.jpg" alt="Parceiro 1">
                        <p>Descrição do Parceiro 1</p>
                    </div>
                    <div class="partner-card">
                        <img src="partner2.jpg" alt="Parceiro 2">
                        <p>Descrição do Parceiro 2</p>
                    </div>
                    <div class="partner-card">
                        <img src="partner2.jpg" alt="Parceiro 3">
                        <p>Descrição do Parceiro 3</p>
                    </div>
                    <div class="partner-card">
                        <img src="partner2.jpg" alt="Parceiro 4">
                        <p>Descrição do Parceiro 4</p>
                    </div>
                    <div class="partner-card">
                        <img src="partner2.jpg" alt="Parceiro 5">
                        <p>Descrição do Parceiro 5</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="thank-you">
            <div class="container">
                <h2>Agradecimento aos nossos Parceiros</h2>
                <p>A RedeEcoLoop agradece o apoio contínuo de todos os nossos parceiros em nossa missão de promover
                    práticas sustentáveis de reciclagem.</p>
            </div>
        </section>

        <section id="become-partner" class="container">
            <h2>Torne-se um Parceiro</h2>
            <p>Se você deseja se juntar a nós na promoção da reciclagem e sustentabilidade, entre em contato para se
                tornar um parceiro da RedeEcoLoop.</p>
            <button>Entre em Contato</button>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 RedeEcoLoop. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>

</html>