<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solução</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <h1 class="logo">RedeEcoLoop</h1>
            </div>
            <div class="nav-menu">
                <ul class="nav-menu">
                    <li><a href="./index.html">Sobre</a></li>
                    <li><a href="./solucao.html">Solução</a></li>
                    <li><a href="./cooperativas.html">Cooperativa</a></li>
                    <li><a href="./parceiros.html">Parceiros</a></li>
                    <li><a href="./relatorio.html">Relatório</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section id="introducao">
            <h2>Por que o MEI é essencial para catadores de reciclagem autônomos?</h2>
            <p>Introdução explicando a importância do MEI para catadores de reciclagem.</p>
        </section>

        <section id="beneficios">
            <h2>Benefícios do MEI para catadores de reciclagem</h2>
            <ul>
                <li>Legalização da atividade</li>
                <li>Acesso a direitos trabalhistas</li>
                <li>Simplicidade na gestão financeira</li>
                <li>Possibilidade de emissão de nota fiscal</li>
                <li>Facilidade de acesso a crédito e benefícios</li>
            </ul>
        </section>

        <section id="procedimento">
            <h2>Como se tornar um MEI?</h2>
            <p>Passos para registrar-se como Microempreendedor Individual.</p>
        </section>

        <section id="apoio">
            <h2>Apoio disponível para catadores de reciclagem MEI</h2>
            <p>Recursos e programas de apoio oferecidos pelo governo e organizações para MEIs.</p>
        </section>

        <section id="pj">
            <h2>Vantagens de se tornar uma Pessoa Jurídica (PJ)</h2>
            <p>Explicação detalhada sobre as vantagens de registrar-se como PJ para catadores de reciclagem, como:</p>
            <ul>
                <li>Maior profissionalização do negócio</li>
                <li>Possibilidade de contratação de funcionários</li>
                <li>Acesso a contratos e licitações governamentais</li>
                <li>Limitação de responsabilidade pessoal</li>
                <li>Opções tributárias mais vantajosas em alguns casos</li>
            </ul>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 RedeEcoLoop. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>

</html>