/***************************************************************************/ /* CORES E VARIAVEIS ESTILOS */ /*************************************************************************/
:root {
  --cor-branca: #ffffff;
  --cor-nav-bar: #2ecc71;
  --cor-texto-corpo: #34495e;
  --cor-sub-titulos: #34495e;
  --cor-titulos: #3498db;
  --cor-btn-destaque: #2ecc71;
  --cor-btn-acao: #3498db;
  --cor-icone-principais: #34495e;
  --cor-icone-destaque: #55efc4;
  --cor-fundo-destaque: #55efc4;
}
body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

